<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8">
   
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylea.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font Link for Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <script src="../script.js" defer></script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

  <title> ATTALA SUPERMARKET</title>
  <style>


    .button-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }

    .main-button,
    .additional-buttons button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 16px;
      border: none;
      background-color: #1e90ff;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .main-button:hover,
    .additional-buttons button:hover {
      background-color: #1e90ff;
    }

    .additional-buttons {
      display: none;
      position: absolute;
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 8px;
      white-space: nowrap;
    }

    .additional-buttons.show {
      display: block;
    }

    .additional-buttons button {
      display: block;
      margin-bottom: 8px;
      padding: 8px 16px;
      font-size: 14px;
      border: none;
      background-color: #1e90ff;
      color: #ffffff;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s ease;
    }

    .additional-buttons button:last-child {
      margin-bottom: 0;
    }

    .additional-buttons button:hover {
      background-color: #1e90ff;
    }
  </style>
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Ela Admin - HTML5 Admin Template</title>
  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="https://i.imgur.com/QRAUqs9.png">
  <link rel="shortcut icon" href="https://i.imgur.com/QRAUqs9.png">
  <meta charset="utf-8">
   
  <link rel="stylesheet" href="{{ url_for('static', filename='css/stylea.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Google Font Link for Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
  <script src="../script.js" defer></script>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title> ATTALA SUPERMARKET</title>
  <style>


    .button-container {
      position: fixed;
      bottom: 20px;
      right: 20px;
      z-index: 9999;
    }

    .main-button,
    .additional-buttons button {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      font-size: 16px;
      border: none;
      background-color: #1e90ff;
      color: #ffffff;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }

    .main-button:hover,
    .additional-buttons button:hover {
      background-color: #1e90ff;
    }

    .additional-buttons {
      display: none;
      position: absolute;
      bottom: calc(100% + 8px);
      left: 50%;
      transform: translateX(-50%);
      background-color: #ffffff;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      border-radius: 4px;
      padding: 8px;
      white-space: nowrap;
    }

    .additional-buttons.show {
      display: block;
    }

    .additional-buttons button {
      display: block;
      margin-bottom: 8px;
      padding: 8px 16px;
      font-size: 14px;
      border: none;
      background-color: #1e90ff;
      color: #ffffff;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s ease;
    }

    .additional-buttons button:last-child {
      margin-bottom: 0;
    }

    .additional-buttons button:hover {
      background-color: #1e90ff;
    }
  </style>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
    
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <link rel="stylesheet" href="{{ url_for('static', filename='css/styletable.css') }}">
  <!-- slider stylesheet -->
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/lykmapipo/themify-icons@0.1.2/css/themify-icons.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.2.0/css/flag-icon.min.css">
  <link rel="stylesheet" href="assets/css/cs-skin-elastic.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
  <link href="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/jqvmap@1.5.1/dist/jqvmap.min.css" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/weathericons@2.1.0/css/weather-icons.css" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.css" rel="stylesheet" />

 <style>
  #weatherWidget .currentDesc {
      color: #ffffff!important;
  }
      .traffic-chart {
          min-height: 335px;
      }
      #flotPie1  {
          height: 150px;
      }
      #flotPie1 td {
          padding:3px;
      }
      #flotPie1 table {
          top: 20px!important;
          right: -10px!important;
      }
      .chart-container {
          display: table;
          min-width: 270px ;
          text-align: left;
          padding-top: 10px;
          padding-bottom: 10px;
      }
      #flotLine5  {
           height: 105px;
      }

      #flotBarChart {
          height: 150px;
      }
      #cellPaiChart{
          height: 160px;
      }

  </style>
  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:400,700&display=swap" rel="stylesheet">
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/stylestatic.css') }}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet" />
</head>

<body >

    <!-- header section strats -->
    <div id="right-panel" class="right-panel">
      <!-- Header-->
      <header id="header" class="header">
          <div class="top-left">
              <div class="navbar-header">
                  <a class="navbar-brand" href="./"><img style="width: 57px;" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo"></a>
             

              </div>
          </div>
          <!-- <div class="top-right"> -->
              <!-- <div class="header-menu">
                  <div class="header-left">
                      <button class="search-trigger"><i class="fa fa-search"></i></button>
                      <div class="form-inline">
                          <form class="search-form"  action="/searchusers" method="post" >
                              <input class="form-control mr-sm-2" type="text" placeholder="Search ..." aria-label="Search">
                              <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                          </form>
                      </div>

                      <div class="dropdown for-notification">
                          <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              <i class="fa fa-bell"></i>
                              <span class="count bg-danger">3</span>
                          </button>
                          <div class="dropdown-menu" aria-labelledby="notification">
                              <p class="red">You have 3 Notification</p>
                              <a class="dropdown-item media" href="#">
                                  <i class="fa fa-check"></i>
                                  <p>Server #1 overloaded.</p>
                              </a>
                              <a class="dropdown-item media" href="#">
                                  <i class="fa fa-info"></i>
                                  <p>Server #2 overloaded.</p>
                              </a>
                              <a class="dropdown-item media" href="#">
                                  <i class="fa fa-warning"></i>
                                  <p>Server #3 overloaded.</p>
                              </a>
                          </div>
                      </div> -->
 

                  <div class="user-area dropdown float-right">
                      <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if image_url %}
                        <img class="user-avatar rounded-circle" src="{{image_url}}" alt="User Avatar">
                    {% else  %}
                    <img class="user-avatar rounded-circle" src="{{ url_for('static', filename='images/client-1.png') }}" alt="User Avatar">
                          {% endif %}
                      </a>

                  </div>

              <!-- </div> -->
          <!-- </div> -->
      </header>
   
    <!-- end header section -->
  </div>

  <section class="contact_section layout_padding"> 
   
    <div class="container">
      <form action="/orderc" method="post" >
        <input type="date" name="search" placeholder="Search By Name" id="" style="width: 77%;">
        <input type="submit" value="submit" style="width: 13%; display: inline-block;
        padding: 12px 45px;
        background-color: var(--grean);
        color: var(--white);
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: 1px solid transparent;
        border-radius: 0px;
        border-radius: 0px;
        color: #fff;">
      </form>
        <div class="row" >
          <div class="col-xl-8" style="max-width: 100%;">
            <div class="card">
                <div class="card-body">
                    <h4 class="box-title">Bills </h4>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h" style="    display: block;
                    overflow-x: auto;
                    white-space: nowrap;">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th class="avatar">Avatar</th>
                               
                                    <th>الأسم</th>
                                    
                                    <th>التاريخ</th>
                                    <th>الوقت</th>
                                    <th>طريقة الدفع</th>
                                    <th>المبلغ</th>
                                    <th>رقم البطاقة</th>
                                    <th>البافي</th>
                                    <th>الخصم</th>
                                    <th>البائع</th>
                                    
                                    
                                    <th>المنتجات</th>
                                </tr>
                            </thead>
                            <tbody>
                              {% for a, b ,c,d,e,w,h,k,v ,q in data %} 
                              {% set counter = loop.index %}
                              
                                <tr class=" pb-0">
                                    <td class="serial">{{a}}.</td>
                                    <td class="avatar pb-0">
                                        <div class="round-img">
                                        
                                            <a href="#"><img class="rounded-circle" src="{{ url_for('static', filename='images/mobile.png') }}" alt=""></a>
                                          
                                        </div>
                                    </td>
                                    <td> {{ d}} </td>
                                    <td>  <span class="name">{{ b }}</span> </td>
                                    <td> <span class="product">{{c}}</span> </td>
                                    <td><span class="product">{{k}}</span></td>
                                    <td> <span class="product">{{e}}</span> </td>

                                    <td>  <span class="name">{{ v}}</span> </td>
                                    
                                    <td><span class="product">{{w}}</span></td>
                                    <td>{{h}}</td>
                                    <td><span class="product">{{q}}</span></td>
                                    <td>
                                     <a href="/codea/{{ a }}">   <span class="badge badge-pending">Products</span>
                                    </td></a>
                                   
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div>  
</section> 




  <!-- info section -->
  <!-- <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
           ATTALA SUPERMARKET
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About services
            </h5>
            <div>
              <div class="img-box">
                <img src="images/location-white.png" width="18px" alt="">
              </div>
              <p>
                Palestine
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/telephone-white.png" width="12px" alt="">
              </div>
              <p>
                +01 1234567890
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="images/envelope-white.png" width="18px" alt="">
              </div>
              <p>
                demo@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              Welcome to our company, a leading provider of comprehensive services specializing in website development, AI projects, and mobile app solutions.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div>
                <a href="">
                  <div class="insta-box b-1">
                    <img src="images/i-1.jpg" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-2">
                    <img src="images/i-2.jpg" alt="">
                  </div>
                </a>
              </div>

              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="images/i-3.jpg" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="images/i-4.jpg" alt="">
                  </div>
                </a>
              </div>
              <div>
                <a href="">
                  <div class="insta-box b-3">
                    <img src="images/i-5.jpg" alt="">
                  </div>
                </a>
                <a href="">
                  <div class="insta-box b-4">
                    <img src="images/i-6.jpg" alt="">
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Check Calendar
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">
              <button>
                Check
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="images/fb.png" alt="">
              </a>
              <a href="">
                <img src="images/twitter.png" alt="">
              </a>
              <a href="">
                <img src="images/linkedin.png" alt="">
              </a>
              <a href="">
                <img src="images/youtube.png" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <!-- end info_section -->

  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
  <script src="assets/js/main.js"></script>

  <!--  Chart js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

  <!--Chartist Chart-->
  <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>
  <script src="assets/js/init/weather-init.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>
  <script src="assets/js/init/fullcalendar-init.js"></script>

  <!--Local Stuff-->

  <script src="https://cdn.jsdelivr.net/npm/jquery@2.2.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.4/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery-match-height@0.7.2/dist/jquery.matchHeight.min.js"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>

  <!--  Chart js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.3/dist/Chart.bundle.min.js"></script>

  <!--Chartist Chart-->
  <script src="https://cdn.jsdelivr.net/npm/chartist@0.11.0/dist/chartist.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartist-plugin-legend@0.6.2/chartist-plugin-legend.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery.flot@0.8.3/jquery.flot.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot-pie@1.0.0/src/jquery.flot.pie.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/flot-spline@0.0.1/js/jquery.flot.spline.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/simpleweather@3.1.0/jquery.simpleWeather.min.js"></script>


  <script src="https://cdn.jsdelivr.net/npm/moment@2.22.2/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/fullcalendar@3.9.0/dist/fullcalendar.min.js"></script>

  <!-- footer section -->

  <!-- end  footer section -->

  <script>
    const mainButton = document.querySelector('.main-button');
    const additionalButtons = document.querySelector('.additional-buttons');
    mainButton.addEventListener('click', () => {
      additionalButtons.classList.toggle('show');
    });
  </script>

  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.min.js">
  </script>
  <script type="text/javascript">
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      navText: [],
      autoplay: true,
      autoplayHoverPause: true,
      responsive: {
        0: {
          items: 1
        },
        420: {
          items: 2
        },
        1000: {
          items: 5
        }
      }

    });
  </script>
   
  <script>
    var nav = $("#navbarSupportedContent");
    var btn = $(".custom_menu-btn");
    btn.click
    btn.click(function (e) {

      e.preventDefault();
      nav.toggleClass("lg_nav-toggle");
      document.querySelector(".custom_menu-btn").classList.toggle("menu_btn-style")
    });
  </script>
  <script>
    $('.carousel').on('slid.bs.carousel', function () {
      $(".indicator-2 li").removeClass("active");
      indicators = $(".carousel-indicators li.active").data("slide-to");
      a = $(".indicator-2").find("[data-slide-to='" + indicators + "']").addClass("active");
      console.log(indicators);

    })
  </script>

</body>


</html>